/* 
-----------------
NAVBAR
-----------------
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d9a6a3;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #b76e79;
}



/*
--------------
WEBPAGES
--------------
*/
body {
    background-color: #f7d6e0;
}

footer {
    background-color: #b76e79;
    text-align: center;
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}



/*
-------------------
DIVS AND CONTAINERS
-------------------
*/
.content-container {
    display: flex;
    justify-content: space-between; /* Pushes text left, image right */
    padding-top: 20px;
    padding-right: 250px;
    gap: 250px /* Adds a gap between the text and the image */
}

.contact-section {
    display: flex; /* Places the FAQ and enquiry sections side-by-side */
    justify-content: space-between; /* Aligns both sections at the top of the container */
    align-items: flex-start;
    gap: 80px;
}

.faq-container {
    flex: 1; /* Allows the FAQ section to take up an equal share of the available width */
}

.enquire-container {
    flex: 1; /* Allows the Enquiry section to take up an equal share of the available width */
}


/*
-----------
IMAGES
-----------
*/
.jess {
    border: 2px solid black;
    border-radius: 8px;
}

/* Hero */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px 10%;
    gap:50px;
}

.hero-image img{
    width:350px;
    border-radius:10px;
}

.hero-content{
    max-width:500px;
}

.hero-content h1{
    font-size:42px;
    margin-bottom:20px;
}

.hero-content p{
    line-height:1.7;
    margin-bottom:30px;
}

/* Buttons */

.buttons{
    display:flex;
    gap:15px;
}

.btn,
.btn-outline{
    text-decoration:none;
    padding:12px 28px;
    border-radius:6px;
    font-weight:bold;
}

.btn{
    background:#b76e79;
    color:white;
}

.btn-outline{
    border:2px solid #b76e79;
    color:#b76e79;
}

/* Review */

.review{
    padding:40px 10%;
    border-top:2px solid #ddd;
    border-bottom:2px solid #ddd;
}

.review-box{
    display:flex;
    align-items:center;
    gap:30px;
}

.review-box img{
    width:120px;
    border-radius:50%;
}

.stars{
    color:gold;
    font-size:24px;
}

/* Services */

.services{
    padding:60px 10%;
    text-align:center;
}

.services h2{
    font-size:42px;
    margin-bottom:40px;
}

.service-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.card{
    background:white;
    border:2px solid #ddd;
    border-radius:8px;
    padding:25px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}