<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!--- this makes the website display well on every device not just pc -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Beautify With Jess</title>

    <!--- url_for() finds style.css in static folder, does not work if just href=style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/booking">Book Now</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/meetjess">Meet Jess</a></li>
            </ul>
        </nav>
    </header>
    <br>



    <!-- ALTERED FROM MOCK UP -->

    <!-- This booking form collects all required customer information in one place,
     making the booking process efficient while ensuring accurate and complete
     information is stored in the database.

     The form has been designed to maximise usability by presenting all
     required fields in a clear and logical order. This improves effectiveness by
     reducing user error and improves efficiency by allowing bookings to be
     processed and stored directly in the database where they can then be edited
     if a mistake is made in the form  -->


    <main>

        <h2>Book Your Appointment</h2>

        <p>
            Complete the form below to book your beauty appointment.
        </p>

        <!-- If an error message is sent from Flask (such as an unavailable booking time),
     display the error message to user -->
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form action="/add_booking" method="POST">

            <label for="customer_name">Full Name:</label>
            <input type="text" id="customer_name" name="customer_name" placeholder="John Doe" required><br><br>

            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" pattern="^04\d{8}$" placeholder="0412345678" maxlength="10" required><br><br>

            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" placeholder="Name@email.com" required><br><br>

            <label for="service">Service:</label>

            <select id="service" name="service" required>

                <!-- Loop through each service stored in the 'services' dictionary in app.py
                    and create a dropdown option for each service -->
                {% for service in services %}

                    <!-- Create a dropdown option for the current service.
                        If the customer clicked "Book Now" on the Services page,
                        automatically select that service in the dropdown. -->
                    <option value="{{ service }}" {% if service == selected_service %}selected{% endif %}>
                        {{ service }}
                    </option>

                {% endfor %}
                
                </select><br><br>

            <label for="booking_date">Preferred Date:</label>
            <input type="date" id="booking_date" name="booking_date" required><br><br>

            <label for="booking_time">Preferred Time:</label>
            <input type="time" id="booking_time" name="booking_time" required>
            <br><br>

            <button type="submit">Confirm Booking</button>
        </form>
    </main>
    <footer>
        <p>© 2026 Beautify With Jess</p>
    </footer>

    <!-- THIS IS JAVASCRIPT AS HTML DOESNT KNOW WHAT TODAYS DATE IS -->
    <script>
        // Creates a Date object using today's date and time
        const tomorrow = new Date();

        // Changes the date to one day after today (tomorrow)
        tomorrow.setDate(tomorrow.getDate() + 1);

        // Finds the date input and sets the earliest selectable date
        document.getElementById("booking_date").min =
        // Converts the date into YYYY-MM-DD format and removes the time
            tomorrow.toISOString().split("T")[0];

        // Sets the latest selectable date to 31 December 2060
        document.getElementById("booking_date").max =
            "2060-12-31";

    </script>
</body>
</html>