<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!--- this makes the website display well on every device not just pc -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Beautify With Jess</title>

    <!--- url_for() finds style.css in static folder, does not work if just href=style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/booking">Book Now</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/meetjess">Meet Jess</a></li>
            </ul>
        </nav>
    </header>

    <div class="contact-section">

        <div class="faq-container">
            <h1>Frequently Asked Questions</h1>   

            <!-- Creates a collapsible box-->
            <details>

                <!-- Summary is the text that is written on the box when it's unopened -->
                <summary>Are there age requirements for services?</summary>

                <!-- The text that appears under the collapsible box when opened-->
                <p>All services are available for people over 12 years.</p>
                <p>Parental consent is required for any clients under the age of 16 years.</p>
            
            </details>

            <details>
                <summary>How long will results last?</summary>
                <p>Varies by service, typically...</p>
                <p>Gel Manicure / Nails: 2-3 weeks</p>
                <p>Acrylic Nails: 2-4 weeks</p>
                <p>Eyebrow Waxing: 3-6 weeks</p>
                <P>Brow and Lash tints: 3-6 weeks</P>
                <p>Lash Lifts: 6-8 weeks</p>

            </details>

            <details>
                <summary>What is your return / refund policy?</summary>
                <p>We offer a 3 day return policy for UNOPENED products.</p>
                <p>We DO NOT offer refunds for beauty services.</p>

            </details>

            <details>
                <summary>What is your cancellation policy?</summary>
                <p>You must provide at least 24 hours notice before an appointment if you plan to cancel.</p>
                <p>Deposits are forfeited following failure to show up to a booked appointment.</p>

            </details>

            <details>
                <summary>Do you take walk-ins?</summary>
                <p>Yes, but keep in mind you may be waiting a while for an opening in the schedule.</p>

            </details>

            <details>
                <summary>Where is Jess located?</summary>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2452.0161627470375!2d144.62523267483527!3d-37.881867571958665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad685411c7f1d3f%3A0xd86dfce29486c345!2s14%20Eliza%20Grove%2C%20Wyndham%20Vale%20VIC%203024!5e1!3m2!1sen!2sau!4v1785211269983!5m2!1sen!2sau" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin" 
    width="600" height="450"> </iframe>
            </details>
        </div>

        <div class="enquire-container">
            <h1>Question still not answered?</h1>
            <h2>Enquire here:</h2>
            <form action="/submit" method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name"><br><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>

                <label for="message">Type your enquiry here:</label><br><br>
                <textarea id="message" name="message" rows="6" cols="40"></textarea><br><br>
                
                <button type="submit">Submit</button>

                {% if success %}
                <p>{{ success }}</p>
                {% endif %}
                
            </form>
        </div>
    </div>
    

    <footer>
        <p>© 2026 Beautify With Jess</p>
    </footer>

</body>