<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!--- this makes the website display well on every device not just pc -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Beautify With Jess</title>

    <!--- url_for() finds style.css in static folder, does not work if just href=style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/booking">Book Now</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/meetjess">Meet Jess</a></li>
            </ul>
        </nav>
    </header>
    <br>
    
    <main>
        <div class="gallery">

        <div class="gallery-card">
            <img src="{{ url_for('static', filename='classic_lash.jpg') }}" width="150" height="150">
            <div class="gallery-info">
                <h3>Classic Lashes</h3>
                <p>Fresh classic lash set completed for a client.</p>
            </div>
        </div>

        <div class="gallery-card">
            <img src="{{ url_for('static', filename='hybrid_lash.jpg') }}" width="150" height="150">
            <div class="gallery-info">
                <h3>Hybrid Lashes</h3>
                <p>Hybrid lashes with a soft wispy finish.</p>
            </div>
        </div>

        <div class="gallery-card">
            <img src="{{ url_for('static', filename='volume_lash.jpg') }}" width="150" height="150">
            <div class="gallery-info">
                <h3>Volume Lashes</h3>
                <p>Full volume set for a glamorous look.</p>
            </div>
        </div>
        
        <div class="gallery-card">
            <img src="{{ url_for('static', filename='lash_lift.jpg') }}" alt="Lash Lift">
            <div class="gallery-info">
                <h3>Lash Lift</h3>
                <p>Natural lash lift enhancing length and curl without extensions.</p>
            </div>
        </div>

        <div class="gallery-card">
            <img src="{{ url_for('static', filename='brow_wax.jpg') }}" alt="Brow Wax">
            <div class="gallery-info">
                <h3>Brow Wax</h3>
                <p>Brows professionally shaped to create a clean, defined look.</p>
            </div>
        </div>

        <div class="gallery-card">
            <img src="{{ url_for('static', filename='brow_tint.jpg') }}" alt="Brow Tint">
            <div class="gallery-info">
                <h3>Brow Tint</h3>
                <p>Brows tinted to add colour, definition, and a fuller appearance.</p>
            </div>
        </div>
    </div>
    </main>