<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!--- this makes the website display well on every device not just pc -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Beautify With Jess</title>

    <!--- url_for() finds style.css in static folder, does not work if just href=style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/booking">Book Now</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/meetjess">Meet Jess</a></li>
            </ul>
        </nav>
    </header>
    <br>

    <!-- THIS PAGE IS SIMILAR TO THE "BOOKING" PAGE IN MOCKUPS -->
    <main>
        <h2>Our Services</h2>

        <!-- Loops through the 'services' dictionary
        getting each service name and price -->
        {% for service, price in services.items() %}

        <div class="service_card">
            <div class="service_image">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" width="50" length="50">
            </div>

            <div class="service_information">
                <h3>{{ service }}</h3>
                <p>
                    Professional beauty treatment performed by Jess.
                </p>
            </div>

            <div class="service_price">
                ${{ price }}
            </div>

            <div>
                <a href="/booking">
                    <button>Book Now</button>
                </a>
            </div>
        </div>

        {% endfor %}

    </main>

    <footer>
      <p>© 2026 Beautify With Jess</p>
    </footer>

</body>
</html>